Repository TestBlitzy1/test-p1-064wip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/platform-admins, @organization/backend-team, @organization/frontend-team, @organization/qa-team, @organization/devops-team, @organization/ai-team, @organization/analytics-team, @organization/integration-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/.env.example
  src/backend/.env.example
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/.gitignore
  src/backend/.gitignore
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/README.md
  src/backend/README.md
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @organization/backend-team, @organization/security-team

Add public-samples/test-p1-064wip/src/backend/setup.py
  src/backend/setup.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/__init__.py
  src/backend/ai_service/__init__.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/config.py
  src/backend/ai_service/config.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/constants.py
  src/backend/ai_service/constants.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/routes.py
  src/backend/ai_service/routes.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/models/__init__.py
  src/backend/ai_service/models/__init__.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/models/campaign_generator.py
  src/backend/ai_service/models/campaign_generator.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/models/content_generator.py
  src/backend/ai_service/models/content_generator.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/models/keyword_recommender.py
  src/backend/ai_service/models/keyword_recommender.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/models/performance_predictor.py
  src/backend/ai_service/models/performance_predictor.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/services/__init__.py
  src/backend/ai_service/services/__init__.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/services/inference.py
  src/backend/ai_service/services/inference.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/services/model_loader.py
  src/backend/ai_service/services/model_loader.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/services/optimization.py
  src/backend/ai_service/services/optimization.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/tests/__init__.py
  src/backend/ai_service/tests/__init__.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/tests/test_inference.py
  src/backend/ai_service/tests/test_inference.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/ai_service/tests/test_models.py
  src/backend/ai_service/tests/test_models.py
Owners: @organization/ai-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/analytics_service/__init__.py
  src/backend/analytics_service/__init__.py
Owners: @organization/analytics-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/analytics_service/config.py
  src/backend/analytics_service/config.py
Owners: @organization/analytics-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/analytics_service/constants.py
  src/backend/analytics_service/constants.py
Owners: @organization/analytics-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/analytics_service/routes.py
  src/backend/analytics_service/routes.py
Owners: @organization/analytics-team, @organization/backend-team

.github/CODEOWNERS:

# They will be requested for review when someone opens a pull request
* @organization/platform-admins

# Backend service owners
/src/backend/ @organization/backend-team

# Frontend/Web application owners  
/src/web/ @organization/frontend-team

# Test directory owners
/src/test/ @organization/qa-team

# Infrastructure configuration owners
/infrastructure/ @organization/devops-team

# Specialized service owners
/src/backend/ai_service/ @organization/ai-team @organization/backend-team
/src/backend/analytics_service/ @organization/analytics-team @organization/backend-team
/src/backend/integration_service/ @organization/integration-team @organization/backend-team

# Infrastructure as code files require both DevOps and Security review
*.tf @organization/devops-team @organization/security-team

# Kubernetes/Docker configuration files
*.yaml @organization/devops-team

# Package dependency files require security review
package.json @organization/frontend-team @organization/security-team
requirements.txt @organization/backend-team @organization/security-team

# Security-critical components require security team review
/src/backend/common/security/ @organization/security-team @organization/backend-team

# CI/CD workflow configurations require both DevOps and Security review
.github/workflows/ @organization/devops-team @organization/security-team
