Repository TestBlitzy1/test-p1-064wip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/platform-admins, @organization/backend-team, @organization/frontend-team, @organization/qa-team, @organization/devops-team, @organization/ai-team, @organization/analytics-team, @organization/integration-team, @organization/security-team

.github/CODEOWNERS:

# They will be requested for review when someone opens a pull request
* @organization/platform-admins

# Backend service owners
/src/backend/ @organization/backend-team

# Frontend/Web application owners  
/src/web/ @organization/frontend-team

# Test directory owners
/src/test/ @organization/qa-team

# Infrastructure configuration owners
/infrastructure/ @organization/devops-team

# Specialized service owners
/src/backend/ai_service/ @organization/ai-team @organization/backend-team
/src/backend/analytics_service/ @organization/analytics-team @organization/backend-team
/src/backend/integration_service/ @organization/integration-team @organization/backend-team

# Infrastructure as code files require both DevOps and Security review
*.tf @organization/devops-team @organization/security-team

# Kubernetes/Docker configuration files
*.yaml @organization/devops-team

# Package dependency files require security review
package.json @organization/frontend-team @organization/security-team
requirements.txt @organization/backend-team @organization/security-team

# Security-critical components require security team review
/src/backend/common/security/ @organization/security-team @organization/backend-team

# CI/CD workflow configurations require both DevOps and Security review
.github/workflows/ @organization/devops-team @organization/security-team

Add public-samples/test-p1-064wip/src/test/types/test.d.ts
  src/test/types/test.d.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/web/.dockerignore
  src/web/.dockerignore
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/.env.example
  src/web/.env.example
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/.gitignore
  src/web/.gitignore
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/.prettierrc
  src/web/.prettierrc
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/Dockerfile
  src/web/Dockerfile
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/README.md
  src/web/README.md
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/next.config.ts
  src/web/next.config.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/package.json
  src/web/package.json
Owners: @organization/frontend-team, @organization/security-team

Add public-samples/test-p1-064wip/src/web/postcss.config.ts
  src/web/postcss.config.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/analytics/CampaignMetrics.test.tsx
  src/web/__tests__/components/analytics/CampaignMetrics.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/analytics/ConversionChart.test.tsx
  src/web/__tests__/components/analytics/ConversionChart.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/analytics/PerformanceCard.test.tsx
  src/web/__tests__/components/analytics/PerformanceCard.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/analytics/ROASChart.test.tsx
  src/web/__tests__/components/analytics/ROASChart.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/campaigns/AdGroupForm.test.tsx
  src/web/__tests__/components/campaigns/AdGroupForm.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/campaigns/AiRecommendations.test.tsx
  src/web/__tests__/components/campaigns/AiRecommendations.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/campaigns/CampaignForm.test.tsx
  src/web/__tests__/components/campaigns/CampaignForm.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/campaigns/CampaignList.test.tsx
  src/web/__tests__/components/campaigns/CampaignList.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/targeting/AudienceBuilder.test.tsx
  src/web/__tests__/components/targeting/AudienceBuilder.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/components/targeting/TargetingForm.test.tsx
  src/web/__tests__/components/targeting/TargetingForm.test.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/hooks/useAnalytics.test.ts
  src/web/__tests__/hooks/useAnalytics.test.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/hooks/useCampaign.test.ts
  src/web/__tests__/hooks/useCampaign.test.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/hooks/useTargeting.test.ts
  src/web/__tests__/hooks/useTargeting.test.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/utils/analytics.test.ts
  src/web/__tests__/utils/analytics.test.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/__tests__/utils/validation.test.ts
  src/web/__tests__/utils/validation.test.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/layout.tsx
  src/web/src/app/layout.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/loading.tsx
  src/web/src/app/loading.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/page.tsx
  src/web/src/app/page.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/analytics/layout.tsx
  src/web/src/app/analytics/layout.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/analytics/loading.tsx
  src/web/src/app/analytics/loading.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/analytics/page.tsx
  src/web/src/app/analytics/page.tsx
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/api/auth/[...nextauth]/route.ts
  src/web/src/app/api/auth/[...nextauth]/route.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/api/campaigns/route.ts
  src/web/src/app/api/campaigns/route.ts
Owners: @organization/frontend-team

Add public-samples/test-p1-064wip/src/web/src/app/api/health/route.ts
  src/web/src/app/api/health/route.ts
Owners: @organization/frontend-team
