Repository TestBlitzy1/test-p1-064wip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/platform-admins, @organization/backend-team, @organization/frontend-team, @organization/qa-team, @organization/devops-team, @organization/ai-team, @organization/analytics-team, @organization/integration-team, @organization/security-team

Add public-samples/test-p1-064wip/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @organization/platform-admins

Add public-samples/test-p1-064wip/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @organization/platform-admins

Add public-samples/test-p1-064wip/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @organization/platform-admins

Add public-samples/test-p1-064wip/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/.github/workflows/integration-tests.yml
  .github/workflows/integration-tests.yml
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @organization/platform-admins

Add public-samples/test-p1-064wip/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @organization/platform-admins

Add public-samples/test-p1-064wip/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @organization/platform-admins

Add public-samples/test-p1-064wip/infrastructure/docker/monitoring/grafana/dashboards.yml
  infrastructure/docker/monitoring/grafana/dashboards.yml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/docker/monitoring/grafana/datasources.yml
  infrastructure/docker/monitoring/grafana/datasources.yml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/docker/monitoring/jaeger/jaeger.yml
  infrastructure/docker/monitoring/jaeger/jaeger.yml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/apps/backend/deployment.yaml
  infrastructure/kubernetes/apps/backend/deployment.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/apps/backend/ingress.yaml
  infrastructure/kubernetes/apps/backend/ingress.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/apps/backend/service.yaml
  infrastructure/kubernetes/apps/backend/service.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/apps/frontend/deployment.yaml
  infrastructure/kubernetes/apps/frontend/deployment.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/apps/frontend/ingress.yaml
  infrastructure/kubernetes/apps/frontend/ingress.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/apps/frontend/service.yaml
  infrastructure/kubernetes/apps/frontend/service.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
  infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/monitoring/jaeger/service.yaml
  infrastructure/kubernetes/monitoring/jaeger/service.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/overlays/dev/kustomization.yaml
  infrastructure/kubernetes/overlays/dev/kustomization.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/overlays/prod/kustomization.yaml
  infrastructure/kubernetes/overlays/prod/kustomization.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @organization/devops-team

Add public-samples/test-p1-064wip/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @organization/devops-team, @organization/security-team

Add public-samples/test-p1-064wip/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @organization/devops-team, @organization/security-team

.github/CODEOWNERS:

# They will be requested for review when someone opens a pull request
* @organization/platform-admins

# Backend service owners
/src/backend/ @organization/backend-team

# Frontend/Web application owners  
/src/web/ @organization/frontend-team

# Test directory owners
/src/test/ @organization/qa-team

# Infrastructure configuration owners
/infrastructure/ @organization/devops-team

# Specialized service owners
/src/backend/ai_service/ @organization/ai-team @organization/backend-team
/src/backend/analytics_service/ @organization/analytics-team @organization/backend-team
/src/backend/integration_service/ @organization/integration-team @organization/backend-team

# Infrastructure as code files require both DevOps and Security review
*.tf @organization/devops-team @organization/security-team

# Kubernetes/Docker configuration files
*.yaml @organization/devops-team

# Package dependency files require security review
package.json @organization/frontend-team @organization/security-team
requirements.txt @organization/backend-team @organization/security-team

# Security-critical components require security team review
/src/backend/common/security/ @organization/security-team @organization/backend-team

# CI/CD workflow configurations require both DevOps and Security review
.github/workflows/ @organization/devops-team @organization/security-team
