Repository TestBlitzy1/test-p1-064wip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/platform-admins, @organization/backend-team, @organization/frontend-team, @organization/qa-team, @organization/devops-team, @organization/ai-team, @organization/analytics-team, @organization/integration-team, @organization/security-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/models/campaign.py
  src/backend/campaign_service/models/campaign.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/services/__init__.py
  src/backend/campaign_service/services/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/services/campaign_generator.py
  src/backend/campaign_service/services/campaign_generator.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/services/campaign_manager.py
  src/backend/campaign_service/services/campaign_manager.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/tests/__init__.py
  src/backend/campaign_service/tests/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/tests/test_campaign_generator.py
  src/backend/campaign_service/tests/test_campaign_generator.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/campaign_service/tests/test_campaign_manager.py
  src/backend/campaign_service/tests/test_campaign_manager.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/__init__.py
  src/backend/common/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/auth/__init__.py
  src/backend/common/auth/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/auth/jwt.py
  src/backend/common/auth/jwt.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/auth/oauth.py
  src/backend/common/auth/oauth.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/cache/__init__.py
  src/backend/common/cache/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/cache/redis.py
  src/backend/common/cache/redis.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/config/__init__.py
  src/backend/common/config/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/config/settings.py
  src/backend/common/config/settings.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/database/__init__.py
  src/backend/common/database/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/database/models.py
  src/backend/common/database/models.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/database/session.py
  src/backend/common/database/session.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/database/migrations/__init__.py
  src/backend/common/database/migrations/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/database/migrations/versions/__init__.py
  src/backend/common/database/migrations/versions/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/logging/__init__.py
  src/backend/common/logging/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/logging/logger.py
  src/backend/common/logging/logger.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/messaging/__init__.py
  src/backend/common/messaging/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/messaging/kafka.py
  src/backend/common/messaging/kafka.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/monitoring/__init__.py
  src/backend/common/monitoring/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/monitoring/metrics.py
  src/backend/common/monitoring/metrics.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/monitoring/tracing.py
  src/backend/common/monitoring/tracing.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/schemas/__init__.py
  src/backend/common/schemas/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/schemas/base.py
  src/backend/common/schemas/base.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/security/__init__.py
  src/backend/common/security/__init__.py
Owners: @organization/security-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/security/encryption.py
  src/backend/common/security/encryption.py
Owners: @organization/security-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/utils/__init__.py
  src/backend/common/utils/__init__.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/common/utils/validators.py
  src/backend/common/utils/validators.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/__init__.py
  src/backend/integration_service/__init__.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/config.py
  src/backend/integration_service/config.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/constants.py
  src/backend/integration_service/constants.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/routes.py
  src/backend/integration_service/routes.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/adapters/__init__.py
  src/backend/integration_service/adapters/__init__.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/adapters/google_ads.py
  src/backend/integration_service/adapters/google_ads.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/adapters/linkedin_ads.py
  src/backend/integration_service/adapters/linkedin_ads.py
Owners: @organization/integration-team, @organization/backend-team

.github/CODEOWNERS:

# They will be requested for review when someone opens a pull request
* @organization/platform-admins

# Backend service owners
/src/backend/ @organization/backend-team

# Frontend/Web application owners  
/src/web/ @organization/frontend-team

# Test directory owners
/src/test/ @organization/qa-team

# Infrastructure configuration owners
/infrastructure/ @organization/devops-team

# Specialized service owners
/src/backend/ai_service/ @organization/ai-team @organization/backend-team
/src/backend/analytics_service/ @organization/analytics-team @organization/backend-team
/src/backend/integration_service/ @organization/integration-team @organization/backend-team

# Infrastructure as code files require both DevOps and Security review
*.tf @organization/devops-team @organization/security-team

# Kubernetes/Docker configuration files
*.yaml @organization/devops-team

# Package dependency files require security review
package.json @organization/frontend-team @organization/security-team
requirements.txt @organization/backend-team @organization/security-team

# Security-critical components require security team review
/src/backend/common/security/ @organization/security-team @organization/backend-team

# CI/CD workflow configurations require both DevOps and Security review
.github/workflows/ @organization/devops-team @organization/security-team
