Repository TestBlitzy1/test-p1-064wip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/platform-admins, @organization/backend-team, @organization/frontend-team, @organization/qa-team, @organization/devops-team, @organization/ai-team, @organization/analytics-team, @organization/integration-team, @organization/security-team

Add public-samples/test-p1-064wip/src/backend/integration_service/models/__init__.py
  src/backend/integration_service/models/__init__.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/models/platform_config.py
  src/backend/integration_service/models/platform_config.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/services/__init__.py
  src/backend/integration_service/services/__init__.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/services/platform_manager.py
  src/backend/integration_service/services/platform_manager.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/services/sync_manager.py
  src/backend/integration_service/services/sync_manager.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/tests/__init__.py
  src/backend/integration_service/tests/__init__.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/tests/test_google_ads.py
  src/backend/integration_service/tests/test_google_ads.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/integration_service/tests/test_linkedin_ads.py
  src/backend/integration_service/tests/test_linkedin_ads.py
Owners: @organization/integration-team, @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/scripts/db_init.py
  src/backend/scripts/db_init.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/scripts/generate_keys.py
  src/backend/scripts/generate_keys.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/scripts/setup_dev.py
  src/backend/scripts/setup_dev.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/backend/scripts/setup_prod.py
  src/backend/scripts/setup_prod.py
Owners: @organization/backend-team

Add public-samples/test-p1-064wip/src/test/README.md
  src/test/README.md
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/package.json
  src/test/package.json
Owners: @organization/frontend-team, @organization/security-team

Add public-samples/test-p1-064wip/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/api/graphql/schema.test.ts
  src/test/api/graphql/schema.test.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/api/postman/Sales_Intelligence_Platform.postman_collection.json
  src/test/api/postman/Sales_Intelligence_Platform.postman_collection.json
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/api/postman/environments/dev.postman_environment.json
  src/test/api/postman/environments/dev.postman_environment.json
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/api/postman/environments/prod.postman_environment.json
  src/test/api/postman/environments/prod.postman_environment.json
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/api/postman/environments/staging.postman_environment.json
  src/test/api/postman/environments/staging.postman_environment.json
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/api/swagger/swagger.test.ts
  src/test/api/swagger/swagger.test.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/config/test-database.config.ts
  src/test/config/test-database.config.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/config/test-kafka.config.ts
  src/test/config/test-kafka.config.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/config/test-redis.config.ts
  src/test/config/test-redis.config.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/docker/docker-compose.test.yml
  src/test/docker/docker-compose.test.yml
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/analytics/analytics.fixtures.ts
  src/test/e2e/analytics/analytics.fixtures.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/analytics/analytics.spec.ts
  src/test/e2e/analytics/analytics.spec.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/audience/audience.fixtures.ts
  src/test/e2e/audience/audience.fixtures.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/audience/audience.spec.ts
  src/test/e2e/audience/audience.spec.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/auth/auth.fixtures.ts
  src/test/e2e/auth/auth.fixtures.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/auth/auth.spec.ts
  src/test/e2e/auth/auth.spec.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/campaign/campaign.fixtures.ts
  src/test/e2e/campaign/campaign.fixtures.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/campaign/campaign.spec.ts
  src/test/e2e/campaign/campaign.spec.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/integration/google-ads.spec.ts
  src/test/e2e/integration/google-ads.spec.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/integration/linkedin.spec.ts
  src/test/e2e/integration/linkedin.spec.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/utils/test-client.ts
  src/test/e2e/utils/test-client.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/utils/test-database.ts
  src/test/e2e/utils/test-database.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/e2e/utils/test-server.ts
  src/test/e2e/utils/test-server.ts
Owners: @organization/qa-team

Add public-samples/test-p1-064wip/src/test/integration/ai-service/campaign-generator.test.ts
  src/test/integration/ai-service/campaign-generator.test.ts
Owners: @organization/qa-team

.github/CODEOWNERS:

# They will be requested for review when someone opens a pull request
* @organization/platform-admins

# Backend service owners
/src/backend/ @organization/backend-team

# Frontend/Web application owners  
/src/web/ @organization/frontend-team

# Test directory owners
/src/test/ @organization/qa-team

# Infrastructure configuration owners
/infrastructure/ @organization/devops-team

# Specialized service owners
/src/backend/ai_service/ @organization/ai-team @organization/backend-team
/src/backend/analytics_service/ @organization/analytics-team @organization/backend-team
/src/backend/integration_service/ @organization/integration-team @organization/backend-team

# Infrastructure as code files require both DevOps and Security review
*.tf @organization/devops-team @organization/security-team

# Kubernetes/Docker configuration files
*.yaml @organization/devops-team

# Package dependency files require security review
package.json @organization/frontend-team @organization/security-team
requirements.txt @organization/backend-team @organization/security-team

# Security-critical components require security team review
/src/backend/common/security/ @organization/security-team @organization/backend-team

# CI/CD workflow configurations require both DevOps and Security review
.github/workflows/ @organization/devops-team @organization/security-team
